MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_TRANSCRIBE_MODEL=voxtral-mini-transcribe-realtime-2602
MISTRAL_TRANSLATE_MODEL=mistral-small-latest
MISTRAL_TARGET_DELAY_MS=900
MISTRAL_SAMPLE_RATE=16000
TRANSLATION_IDLE_FLUSH_MS=550
TRANSLATION_MIN_CHARS=4
